body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9d0208;
}

h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 50px;
}

div {
    width: 55%;
    margin-left: 100px;
    margin-top: 100px;

}

span {
    text-shadow: 0 -7px #8d99ae, 0 -12px #38a3a5, 0 10px #c7f9cc;


}